<template>
  <div class="goods">
    <bread-crumb parent="商品管理" children="商品列表"></bread-crumb>
    <el-form inline style="margin-top:15px">
      <el-form-item>
        <el-input v-model="query" @keyup.enter.native="search">
          <el-button slot="append" icon="el-icon-search" @click="search"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleGoods">添加商品</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="obj.goods" height="calc(100vh - 280px)" border style="width: 100%;">
      <el-table-column type="index" label="#" width="50"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称" width="180"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格（元）" width="180"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量"></el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scope">{{scope.row.add_time|dealDate}}</template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="obj">
          <el-button
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click.native="goodsEdit(obj.row.goods_id)"
            circle
          ></el-button>
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click.native="handleDelete(obj.row.goods_id)"
            circle
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="obj.total"
    ></el-pagination>
  </div>
</template>

<script>
import BreadCrumb from "../../components/BreadCrumb";
import { getGoodsLists } from '../../http/apis'
export default {
  name: "goods",
  components: {
    BreadCrumb
  },
  data() {
    return {
        params: {
            query: '',
            pagenum: 1,
            pagesize: 10
        },
        obj: {},
        query: ''
    };
  },
  computed: {},
  created() {
      this.getGoodsLists()
  },
  methods: {
      async getGoodsLists() {
          const res = await getGoodsLists(this.params)
          this.obj = res
      },
      handleSizeChange(val) {
          this.params.pagesize = val
          this.getGoodsLists()
      },
      handleCurrentChange(val) {
          this.params.pagenum = val
          this.getGoodsLists()
      },
      search() {
          this.params.query = this.query
          this.params.pagenum = 1
          this.getGoodsLists()
      },
      handleGoods() {
          this.$router.push({
              name: 'goodsadd'
          })
      },
      goodsEdit(id) {
        this.$router.push({
              name: 'goodsedit',
              params: {
                id
              }
          })
      }

  }
};
</script>

<style scoped lang="scss">
@import '../../assets/base.scss';
.goods {
  @include baseWrap;
}
</style>
